<div>
    <%= link_to "Home", root_path %> &raquo;
    <%= link_to "Tracks", tracks_path %> &raquo;
    <%= link_to @chapter.track.name, track_path(@chapter.track) %> &raquo;
    <%= link_to @chapter.name, chapter_path(@chapter) %>
</div>

<h1>Edit chapter</h1>

<div>
    <%= form_with(model: @chapter) do |f| %>
        <div>
            <%= f.label :index %><br />
            <%= f.number_field :index %>
        </div>
        <div>
            <%= f.label :name %><br />
            <%= f.text_field :name %>
        </div>
        <div>
            <%= f.submit %>
        </div>
    <% end %>
</div>